body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin-top: 80px;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 700;
}

p.subtitle {
    color: #666;
    font-size: 17.6px;
    margin-bottom: 50px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border: 1px solid #f0f0f0;
    width: 280px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.btn-orange {
    background-color: #ff6b00;
    color: white;
    padding: 14px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.btn-orange:hover {
    background-color: #e66000;
}

.nav-link {
    margin-top: 50px;
    display: block;
    color: #4F46E5;
    text-decoration: none;
    font-weight: 500;
}

@media (max-width: 1024px) {

    .container {
        margin-top: 40px; 
    }

    .container h1 {
     font-size: 60px;
     padding: 10px;
    }

    .grid {
        flex-direction: column; 
        align-items: center;
        gap: 50px;    
    }

    .card {
        width: 100%;       
        max-width: 450px;  
        padding: 25px;    
    }

    .nav-link{
     font-size: 25px;
    }

    .grid p{
     font-size: 25px;
     color: #666;   
    }

    .container p {
     font-size: 20px;
    }

    .container h3{
     font-size: 25px;
    }
}