*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial;
}

.header{
  background:#f5f5f5;
  padding:20px 0;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.hero_text{
  display: flex;
  flex-direction: column;
  gap:35px
}
h1{
  font-size: 72px;
}
.container{
  max-width:1200px;
  margin:0 auto;

  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  display:flex;
  align-items:center;
  gap:8px;
}

.logo img{
  width:150px;
}

.nav{
  display:flex;
  gap:40px;
}

.nav a{
  text-decoration:none;
  color:black;
  font-size:16px;
}

.btn{
  background:#ff6a4d;
  color:white;
  border:none;
  padding:12px 22px;
  border-radius:6px;
  cursor:pointer;
}

.main-content { 
  display: flex;
  justify-content: space-between;
  align-items: center;
 
 
}

.text-block {
   max-width: 50%;
}

.text-block h1 { 
  font-size: 72px; margin-bottom: 20px;
}

.buttons {
 display:flex;
 gap: 25px;
 margin-bottom: 15px;
}

.buttons button {
  padding: 15px;
  border:none;
  background-color:blue;
  color:rgb(247, 247, 249);
 border-radius: 6px; 
 font-size: 16px; 
 font:100px;
}
